<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tkhapp.qrcode.scanqr.barcodescanner.qrscanner.qrgenerator">

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCodeBase"
        tools:replace="android:fullBackupContent">

        <receiver
            android:name=".feature.main.create.widget.AppWidgetPinnedReceiverNo1"
            android:exported="false" />

        <receiver
            android:name=".feature.main.create.widget.CodeWidgetProviderNo1"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_code" />
        </receiver>

        <receiver
            android:name=".feature.no_internet.NetworkReceiverNo1"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".feature.welcome_back.WelcomeBackActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />

        <activity
            android:name=".feature.no_internet.NoInternetNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <activity
            android:name=".feature.main.MainNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".feature.scan.batch.ScanBatchResultNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.scan.ScanNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.main.create.CreateNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.result_scan.ScanResultNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.intro.IntroNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.setting.PolicyNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.language_start.LanguageStartNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.setting.SettingNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.language.LanguageNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.language_start_new.LanguageStartNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.template.TemplateNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.permission.PermissionNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.uninstall.ProblemNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.uninstall.UninstallNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivityReskin" />
        <activity
            android:name=".feature.splash.SplashNo1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivityReskin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--<meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />-->
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
    </application>
</manifest>